*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    min-height: 100vh;
    background: linear-gradient(117.9deg, rgb(183, 248, 193) -3.5%, rgb(169, 212, 250) 53.8%, rgb(148, 231, 255) 100.4%);
    padding: 10px;
}

.container.dark-mode{
    background: linear-gradient(135deg, rgba(14,10,102,1) 0%, rgba(9,111,121,1) 65%, rgba(65,43,213,1) 100%);
}

h1 {
    font-size: 2.5em; 
    color: rgb(7, 7, 78); 
    text-align: center; 
    margin-bottom: 1em;
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
}

.dark-mode h1{
    color: white;
}

.todo-app{
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: darkblue;
    border-radius:1em
}

.todo-app.dark-mode{
    background-color: black;
    color: white;
}

.todo-app h2{
    color: rgb(7, 7, 78); 
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.todo-app.dark-mode h2{
    color: white;
}

.row{
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: auto;
    background: lightgray;
    border-radius: 30px;
}

input{
    border: none;
    outline: none;
    background: transparent;
    padding: 0.75em;
    flex: 1;
}

button{
    border: none;
    outline: none;
    padding: 0.5em;
    background: #ff5945;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 1.5em;
    flex: 1;
}

ul{
    text-align: left;
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

ul li{
    padding: 0.25em;
    display: grid;
    grid-template-columns:0.1fr 1fr 1fr 0.2fr;
    position: relative;
}

ul li::before{
    content: '';
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span:hover{
    background: #edeef0;
}

.clear-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    background: transparent;
    padding: 0.8em;
}

.top-button{
    border: none;
    outline: none;
    padding: 0.3em;
    background: gray;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 0.3em;
}

.top-buttons-container{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0.5em;
}

.switch{
    position: fixed;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

 .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
} 

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

