*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgba(14,10,102,1) 0%, rgba(9,111,121,1) 65%, rgba(65,43,213,1) 100%);
    padding: 10px;
}

body {
    background-color: white;
    color: black;
}

h1 {
    font-size: 2em; /* 2 times the size of the normal text */
    color: white; /* Use the color defined in :root */
    text-align: center; /* Center the text */
    margin-bottom: 20px; /* Add some space below the heading */
    font-weight: bold; /* Make the text bold */
}

:root{
    --text-colour: #002765;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    color: var(--text-colour);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app.dark-mode{
    width: 100%;
    max-width: 540px;
    background: black;
    color: white;
    --text-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: var(--text-color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

h1 img{
    width: 50px;
    margin-left: 5px;
}

.row{
    align-items: center;
    background: lightgray;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: auto;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px
}

.row input.input-box{
    grid-column: 1;
}

.row input.due-date{
    grid-column: 2;
}


button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.clear-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: transparent;
    border-radius: 0 0 10px 10px;
}

.clear-button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.top-button{
    border: none;
    outline: none;
    padding: 10px 18px;
    background: gray;
    color: white;
    font-size: 12px;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 5px;
}

.top-buttons-container{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 40px;
    background: transparent;
    border-radius: 0 0 10px 10px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 100px 50px;
    overflow: auto;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    grid-column: 3;
    text-align: end;
}

ul li span:hover{
    background: #edeef0;
}

ul li span.due-date{
    grid-column: 2;
}

.switch{
    position: fixed;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

 .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
} 

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

